<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  </head>

  <body>


    <%= line_chart [
            {name: "Results", data: @atlanta_results.group(:games_played).sum(:win_loss_pct)},
            {name: "Goal", data: @atlanta_goals.group(:games_played).sum(:win_loss_pct)} ], discrete: true, min: 0, max: 1%>


<table>
  <tr>
    <th>Team Name</th>
    <th>Games Played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Win %</th>
    <th>Created At</th>
  </tr>

  <% @standings.each do |standing| %>
  <tr>
    <td><%= standing.team_name %></td>
    <td><%= standing.games_played %></td>
    <td><%= standing.wins %></td>
    <td><%= standing.losses %></td>
    <td><%= standing.win_loss_pct %></td>
    <td><%= standing.created_at %></td>
  </tr>
  <% end %>

</table>

</body>

</html>
