<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
   <%= javascript_include_tag 'application' %>
   <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>

 <% @teams.each do |team| %>
 <h3><%= team[0].first.team_name %></h3>
 <%= line_chart [
         {name: "Results", data: team[0].group(:games_played).sum(:win_loss_pct)},
         {name: "Goal", data: team[1].group(:games_played).sum(:win_loss_pct)} ], discrete: true, min: 0, max: 1%>

         <% end %>

<table>
  <tr>
    <th>Team Name</th>
    <th>Games Played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Win %</th>
    <th>Created At</th>
  </tr>

  <% @standings.each do |standing| %>
  <tr>
    <td><%= standing.team_name %></td>
    <td><%= standing.games_played %></td>
    <td><%= standing.wins %></td>
    <td><%= standing.losses %></td>
    <td><%= standing.win_loss_pct %></td>
    <td><%= standing.created_at %></td>
  </tr>
  <% end %>

</table>

</body>

</html>
